[Unit]
Description=connekt-smtp
Documentation=https://github.com/kingster/connekt-smtp
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
EnvironmentFile=/etc/default/csmtp
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/sbin/csmtp /etc/csmtp/credentials.txt
Restart=on-abnormal
; restrictions
PrivateDevices=true
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
StandardOutput=append:/var/log/connekt-smtp.log
StandardError=inherit


[Install]
WantedBy=multi-user.target
